<div>
    <div class="SceneAreaTextContent">
        <h2>Hello and welcome to my cubby-hole!"</h2>
        <p>@Context</p>
    </div>
</div>

@code {
    private string Context = $@"I've recently started my .NET journey and what would suit better than a webpage in a steaming hot framework as Blazor?";
}
