<div>
    <div class="PresentationArea">
        <div class="PresentationTextContent">
            <div class="HeaderNameAndAge">
                <i>- Bill Thell medior developer and .NET explorer</i>
                <div class="ProfilePicture">
                    <img src="/assets/images/3_mars_sunny.jpg" />
                </div>
            </div>
            <div class="Caption">
                <h6>Hey There!</h6>
                <h1>I'm Bill Tell</h1>
                <p>
                    I am Martin Stark. Impossible considered invitation him men instrument saw celebrated
                    unpleasant. Put rest and must set kind next many near nay. He exquisite continued
                    explained middleton am. Impossible considered invitation him men instrument saw
                    celebrated unpleasant.
                </p>
            </div>
        </div>
    </div>
</div>

@code {
    private string Name = "Bill";
    private string Surname = "Thell";
    //private int Age = Convert.ToInt32(new DateTime(1988, 10, 20).ToString());
    //private string Occupation = "System Developer";
}
